# Dependencies
node_modules/

# Environment variables
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo
